<!DOCTYPE html>
<html lang="tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>菁英汇-2018最新研發MT4-EA外匯獲利程式</title>
    <meta name="description" content="菁英匯經驗豐富的管理層、擁有超過数十年專業操盤經驗的師資團隊，精心研發MT4-EA智能交易程式輔助，為客戶的資產做最好的資金風險控管規畫教育。">
    <meta name="keywords" content="菁英匯,菁英汇,MT4,外匯,外匯保證金">
</head>

<body>
    <main>
        <div class="container">
            <img src="../img/pc2.jpg" alt="背景" class="bg pc">
            <img src="../img/mobile2.jpg" alt="背景" class="bg mobile">
            <form id="sendform">
                <div class="frombox">
                    <input type="text" name="name" placeholder="姓名" required>
                </div>
                <div class="frombox">
                    <input type="mail" name="mail" placeholder="郵件" required>
                </div>
                <select style="color:grey!important" class="text form_elem_countryId" name="countryId" id="countryId" required aria-required="true">
                    <option cncode="" value="" selected="selected">地區</option>
                    <option cncode="基隆市" value="基隆市">基隆市</option>
                    <option cncode="臺北市" value="臺北市">臺北市</option>
                    <option cncode="新北市" value="新北市">新北市</option>
                    <option cncode="宜蘭縣" value="宜蘭縣">宜蘭縣</option>
                    <option cncode="桃園市" value="桃園市">桃園市</option>
                    <option cncode="新竹市" value="新竹市">新竹市</option>
                    <option cncode="苗栗縣" value="苗栗縣">苗栗縣</option>
                    <option cncode="臺中市" value="臺中市">臺中市</option>
                    <option cncode="彰化縣" value="彰化縣">彰化縣</option>
                    <option cncode="南投縣" value="南投縣">南投縣</option>
                    <option cncode="嘉義縣" value="嘉義縣">嘉義縣</option>
                    <option cncode="雲林縣" value="雲林縣">雲林縣</option>
                    <option cncode="臺南市" value="臺南市">臺南市</option>
                    <option cncode="高雄市" value="高雄市">高雄市</option>
                    <option cncode="屏東縣" value="屏東縣">屏東縣</option>
                    <option cncode="臺東縣" value="臺東縣">臺東縣</option>
                    <option cncode="花蓮縣" value="花蓮縣">花蓮縣</option>
                    <option cncode="金門縣" value="金門縣">金門縣</option>
                    <option cncode="連江縣" value="連江縣">連江縣</option>
                    <option cncode="澎湖縣" value="澎湖縣">澎湖縣</option>
                </select>
                <div class="frombox">
                    <input type="tel" name="phone" placeholder="電話" required>
                </div>
                <div class="frombox">
                    <select name="line">
                        <option cncode="Line" value="Line">Line</option>
                        <option cncode="wechat" value="wechat">wechat</option>
                    </select>
                    <input type="tel" name="id" placeholder="ID" required class="w70">
                </div>
                <div class="frombox worrin">
                    <button id="send">立即申請</button>
                    <input type="checkbox" name="reade">
                    <span> 我已經閱讀並且同意 </span>
                    <a href="#">條款和條件</a>
                    <div>
                        <img src="https://lp.xtrade.com/wp-content/themes/lps-cms/img/18.png" alt="18">
                        <input type="checkbox" name="agree">
                        <span>我同意接收來自菁英汇的聯繫</span>
                        <h3>菁英汇技術諮詢</h3>
                    </div>
                </div>
                <div class="frombox addFirend">
                    <a href="http://line.naver.jp/ti/p/Dl-AgtQUVJ">
                        <label>Line</label>
                    </a>
                    <label id="myImg">微信</label>
                </div>
            </form>
        </div>
        <footer>
            <p>Copyright © 2008 - 2018 菁英汇. All rights reserved.</p>
            <p>為了提升學員的金融知識水平，公司管理團隊會不間斷提供更新研發產品知識，由於交易的杠杆屬性，外匯和差價合約交易涉及高風險的損失，可能導致您的資本全部損失，並且可能不適合所有類型的投資者。請點選這裡閱讀我們完整的風險警告，並確保您在開始之前瞭解所涉及的風險，同時考慮到您的相關經驗。如有必要，尋求獨立諮詢。並預防任何可能出現的誤解。學員與客戶利益是我們一輩子的使命。菁英汇對使用者資產採取絕對的預防保護措施。經驗豐富的管理層、擁有超過数十年專業操盤經驗的師資團隊，精心研發EA智能交易程式輔助，為客戶的資產做最好的資金風險控管規畫教育。
            </p>
            <div>
                <img src="../img/footer_a.png" alt="">
                <img src="../img/footer_b.png" alt="">
            </div>
        </footer>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01" src="../img/wechat.jpg">
            <div id="caption"></div>
        </div>
    </main>
</body>

</html>