<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表單資料</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>姓名</th>
                <th>mail</th>
                <th>地區</th>
                <th>電話</th>
                <th>軟體</th>
                <th>ＩＤ</th>
                <th>填寫時間</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>